:root {
  --range-bullet-size: 15px;
}

.range {
  max-width: 500px;
  width: 100%;
}

.range__container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.range__value {
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin: auto 10px;
  padding: 0;
  width: 50px;
}
.range__value::-webkit-outer-spin-button,
.range__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.range__value[type=number] {
  -moz-appearance: textfield;
}

.range__container .range__value:first-child {
  text-align: right;
}

.range__line {
  height: 50px;
  margin: auto 10px;
  position: relative;
  width: 100%;
}
.range__line::before {
  background-color: var(--text-color);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 2px);
  height: 5px;
}

.range__bullet {
  background-color: var(--text-color);
  border-radius: 50%;
  height: var(--range-bullet-size);
  position: absolute;
  top: calc(50% - (var(--range-bullet-size) / 2));
  transition: all .1s ease;
  width: var(--range-bullet-size);
}

.range__bullet:hover {
  cursor: grab;
}

.range__bullet:active {
  cursor: grabbing;
}

.range__bullet:hover,
.range__bullet:active {
  height: calc(var(--range-bullet-size) + .3em);
  top: calc(50% - (var(--range-bullet-size) + .3em) / 2);
  width: calc(var(--range-bullet-size) + .3em);
}
